@{
    ViewBag.Title = "Ma Page";
}

<h2>Ma Page</h2>

<form method="post" action="/Appointment/SubmitAppo">
    <div class="mb-3">
        <input type="text" name="date" class="form-control" placeholder="date" required>
    </div>
    <div class="mb-3">
        <input type="text" name="name" class="form-control" placeholder="name" required>
    </div>
    <div class="mb-3">
        <input type="text" name="hour" class="form-control" placeholder="" required>
    </div>
    
    <button type="submit" class="btn btn-primary login-btn">Login</button>
</form>
