@model Appointments

<h2>Update appointment</h2>


<a class="btn btn-outline-primary fw-bold" asp-controller="Admin" asp-action="Manage">
    <i class="fa-solid fa-stethoscope"></i> Go back
</a>

<form asp-action="Edit" method="post" class="p-4 shadow rounded bg-light">
    <input type="hidden" asp-for="appo_id" />

    <div class="mb-3">
        <label class="form-label fw-bold">Date</label>
        <input type="text" asp-for="date" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label fw-bold">Time</label>
        <input type="time" asp-for="hour" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label fw-bold">Specialty</label>
        <input type="text" asp-for="name" class="form-control" placeholder="Enter specialty" />
    </div>

    <button type="submit" class="btn btn-primary w-100">Save</button>
</form>