@model hospital.Models.Patient

<h2>Liste des Rendez-vous</h2>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
   
    
        <tr>
            <td>@Model.patient_id</td>
           
        </tr>
    
    </tbody>
</table>