@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
<form method="post" action="test">
    <label for="content">Entrez votre texte :</label>
    <textarea id="content" name="content" rows="5" cols="50"></textarea>
    <button type="submit">Envoyer</button>
</form>

</p>